@import 'styles/mixin.scss';
@import 'styles/variables.scss';

.input {
  height: 28px;
  width: 80px;
  border: 2px solid rgb(233, 233, 233);
  border-radius: 4px;
  padding: 4px;
}

.input:focus {
  border: 2px solid black;
  background-color: $gray-light;
}
