@import 'styles/variables.scss';

@mixin button($color, $bg-color) {
  border: 0;
  padding: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $color;
  background-color: $bg-color;
}

.buttonOriginal {
  @include button($blue, black);
}

.buttonOriginal:hover {
  color: black;
  background-color: $blue;
}

.buttonReverse {
  @include button(black, $blue);
}

.buttonReverse:hover {
  color: $blue;
  background-color: black;
}

.large {
  width: 180px;
  height: 60px;
  border-radius: 8px;
  font-size: 24px;
}

.default {
  width: 120px;
  height: 40px;
  border-radius: 4px;
  font-size: 18px;
}

.small {
  height: 16px;
  border-radius: 4px;
  font-size: 14px;
}
