@import 'styles/variables.scss';

@mixin button($color, $bg-color) {
  border: 0;
  padding: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $color;
  background-color: $bg-color;
}

.buttonOriginal {
  @include button($green, black);
}

.buttonOriginal:hover {
  color: black;
  background-color: $green;
}

.buttonReverse {
  @include button(black, $green);
}

.buttonReverse:hover {
  color: $green;
  background-color: black;
}

.large {
  height: 32px;
  border-radius: 8px;
}

.default {
  height: 24px;
  border-radius: 4px;
  font-size: 18px;
}

.small {
  height: 16px;
  border-radius: 4px;
  font-size: 14px;
}
