@import 'styles/mixin.scss';
@import 'styles/variables.scss';

$height-header-desktop: 60px;

.header {
  position: fixed;
  top: 0;
  z-index: 3;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: $height-header-desktop;
  width: 100%;

  background-color: black;
  color: $blue;
  box-shadow: 0 0.5px 5px 0 rgba(0, 0, 0, 0.2);

  & > .title {
    margin: 0;
    margin-left: 20px;
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;

    @include mobile {
      font-size: 24px;
    }
  }
}

.icon {
  margin-right: 20px;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  &:hover {
    background-color: $blue;
  }
}
