@import 'styles/mixin.scss';

.modal {
  width: 400px;
  height: 320px;
  background-color: white;

  position: fixed;
  left: 50%;
  top: 25vh;
  transform: translateX(-50%);
  z-index: 4;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 14px;

  @include slideInFromTop(25vh, 500ms);

  @include mobile {
    width: min(500px, 80%);
  }
}

.icon {
  margin-left: 90%;
}

.icon:hover {
  transform: scale(1.1);
}
