$max-width-laptop: 1920px - 1px;
$max-width-tablet: 1440px - 1px;
$max-width-phone: 768px - 1px;

@mixin laptop {
  @media (max-width: $max-width-laptop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $max-width-tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $max-width-phone) {
    @content;
  }
}

@mixin slideInFromTop($top, $duration) {
  @keyframes slideInFromTop {
    from {
      opacity: 0;
      top: 0;
    }
    to {
      opacity: 1;
      top: $top;
    }
  }

  animation-name: slideInFromTop;
  animation-duration: $duration;
}
