@import 'styles/mixin.scss';
@import 'components/common/molecules/Header/Header.module.scss';

.sectionWrapper {
  width: 100%;
  padding: 60px 200px;

  @include laptop {
    padding: 60px 100px;
  }

  @include tablet {
    padding: 40px 60px;
  }

  @include mobile {
    padding: 40px 32px;
  }
}

.fullpage {
  height: calc(100vh - $height-header-desktop);

  @include tablet {
    height: auto;
  }
}
